
@{
    ViewBag.Title = "AdminDashboard";
}

<h2>AdminDashboard</h2>
<h4>YOU ARE NOW LOGGED IN AS AN ADMIN @Session["UserName"] w/ ID: @Session["UserID"]</h4>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("CustomerQueries", "Index", "UserQueries")</h2>
        <p>Review Queries</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Manage Database", "AdminManagementDashboard", "Home")</h2>
        <p>Links to Manage the Database Tables</p>
    </div>
</div>
