@model IEnumerable<IClothingApplication.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div style="background-color:#cccccc;">
    <div class="jumbotron">
        <div style="width: 100%; height: 180px; background-color: #383636; font-size:100px; font-family:'Baskerville Old Face'; text-align:center; color: white;">
            iclothing inc.

            <p class="lead">iCLOTHING, Inc. is a locally owned fashion store located at @(ViewData["address"])</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>@Html.ActionLink("Shop Women's", "FilteredDepartments", "Department", new { departmentId = 1 }, null)</h2>
            <img src="~/Images/women1.jpg" width="250" height="400" border="2px" alt="Woman Photo" />
        </div>

        <div class="col-md-4">
            <h2>@Html.ActionLink("Shop Men's", "Index", "Departments")</h2>
            <img src="~/Images/man.png" width="250" height="400" border="2px" alt="Man Photo" />
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Shop Kid's", "Index", "Departments")</h2>
            <img src="~/Images/kids.jpg" width="250" height="400" border="2px" alt="Kids Photo" />
        </div>
    </div>
</div>