@model IEnumerable<IClothingApplication.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("ActionName", "ControllerName", FormMethod.Get))
{
    <div>
        @Html.DropDownList("BrandId", ViewBag.Brands as SelectList, "Select Brand", new { @class = "form-control" })
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
}